.intro {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/images/Mechta_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(35%);
}