.container {
  padding: 0 40px;
  position: relative;
}

.previewBlock {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--color-accent-light);
  position: relative;
}


.buttonShowFull {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  height: 44px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

.buttonShowFull:hover {
  background-color: var(--color-secondary);
}

.apartments {
  justify-content: center;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 44px;
  padding-top: 8px;
}

.apartmentsImage {
  border: 4px var(--color-secondary) solid;
  width: calc((100% - 32px) / 3);
  height: auto;
  aspect-ratio: 4 / 3;
  cursor: pointer;
  object-fit: cover;
  transform: translate(0, -6px);
  transition: transform 0.3s ease-in-out;
}

.arrowContainer {
  transition: transform 0.3s ease-in-out;
}

.arrow {
  animation: 1.5s arrow ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0, -4px);
  }
  40% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0, -4px);
  }
}



.text {
  position: relative;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.title {
  font-size: 56px;
  font-family: var(--font-grafita);
  line-height: 72px;
  text-transform: uppercase;
  padding-bottom: 40px;
  line-height: 48px;
}

.description {
  font-family: var(--font-aeonik-light);
  color: var(--color-secondary-dark);
  font-size: 18px;
}

.image {
  height: 80vh;
  display: flex;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}

.line_up {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 1px;
  background-color: var(--color-accent);
}

.line_down {
  position: absolute;
  bottom: 21px;
  width: 100%;
  height: 1px;
  background-color: var(--color-accent);
}



@media (max-width: 1000px) {
  .line_up {
    top: 5px;
  }

  .text {
    padding: 0 40px;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    display: flex;
    position: relative;
  }

  .title {
    font-size: 40px;
    padding-bottom: 15px;
  }

  .description {
    font-size: 16px;
  }

  .button {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .previewBlock {
    flex-direction: column;
    height: auto;
  }

  .text {
    align-items: start;
    flex-basis: 30%;
  }

  .image {
    height: 70vh;
    padding-bottom: 40px;
  }
  
  .title {
    padding-top: 40px;
  }

  .apartmentsImage {
    width: calc((100% - 16px) / 2);
  }
}


@media (max-width: 600px) {
  .apartmentsImage {
    width: 100%;
  }

  .text {
    padding: 0 20px;
  }

  .title {
    font-size: 30px;
  }
}
