.container {
  background-color: var(--color-primary-dark);
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nav_bar_container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  z-index: 100;
}

.nav_bar {
  color: var(--color-accent-light);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navPanel {
  display: flex;
  gap: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero_text {
  color: var(--color-accent-light);
  font-family: var(--font-enthalpy);
  letter-spacing: 10px;
  font-size: 100px;
  z-index: 10;
}

.hero_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  transform: translateY(0px);
}

.hero_text span {
  display: block;
}

.image {
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}

.navButton {
  padding: 2px 20px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: var(--color-primary);
  background-color: var(--color-accent-light);
  border: 2px var(--color-primary) solid;
}

.navButton:hover {
  color: var(--color-accent-light);
  background-color: var(--color-primary);
}

.requestButton {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform:  translateX(-50%);
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.navRequestButton {
  transform:  translateY(-200px);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform .4s ease-in-out;
}

.requestButtonActive {
  transform: translateY(0);
}

.burgerButton {
  display: none;
  cursor: pointer;
  padding: 14px;
  background-color: var(--color-primary);
  border-radius: 10px;
}

.button {
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: space-between;
}

.burgerMenu {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  width: 80vw;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(101%);
  transition: transform .3s ease-in-out;
  background-color: var(--color-primary-dark);
}

.burgerMenuActive {
  transform: translateX(0);
}

.burgerMenuButton {
  font-size: 26px;
  padding: 10px 0;
  position: relative;
}

.burgerMenuButton::after {
  content: "";
  background-color: var(--color-accent);
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 4px;
}

.phoneLink {
  font-family: var(--font-aeonik-regular);
  font-size: 32px;
  padding-top: 40vh;
  color: var(--color-accent-light);
  position: relative;
}
.phoneLink::after {
  content: "";
  background-color: var(--color-accent);
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 4px;
}


.socialLinks {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  color: var(--color-accent-light);
}

.closeBurgerMenuButton {
  position: absolute;
  right: 32px;
  top: 32px;
}

.logo {
  font-size: 30px;
  color: var(--color-accent-light);
  font-family: "Grafita Special", sans-serif;
  background-color: var(--color-primary);
  padding: 5px 10px;
  border-radius: 10px;
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-accent-light);
}

.arrowDown {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  animation: 1s arrowDown ease-in-out infinite;
}



@keyframes arrowDown {
  0% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, 16px);
  }
  100% {
    transform: translateY(-50%, -4px);
  }
}

@media (max-width: 800px) {
  .nav_bar_container {
    padding: 20px;
  }

  .navButton {
    padding: 2px 10px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .navPanel {
    display: none;
  }

  .navRequestButton {
    display: none;
  }

  .burgerButton {
    display: block;
  }

  .hero_text {
    font-size: 45px;
  }

  .requestButton {
    font-size: 20px;
    padding: 2px 10px;
  }
}
