.button {
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    right: 3%;
    background-color: var(--color-primary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}

.icon {
    animation: phone-ring 2s ease-in-out infinite;
}

@keyframes phone-ring {
    0%   { transform: rotate(0deg) translateX(0); }
    2%   { transform: rotate(12deg) translateX(1px); }
    5%  { transform: rotate(-12deg) translateX(-1px); }
    7%  { transform: rotate(14deg) translateX(2px); }
    10%  { transform: rotate(-14deg) translateX(-2px); }
    12%  { transform: rotate(12deg) translateX(1px); }
    15%  { transform: rotate(-12deg) translateX(-1px); }
    17%  { transform: rotate(8deg) translateX(1px); }
    20%  { transform: rotate(-8deg) translateX(-1px); }
    22%  { transform: rotate(0deg) translateX(0); }
    100% { transform: rotate(0deg) translateX(0); } /* пауза до следующего “звонка” */
  }