.container {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-primary-dark);
}

.title {
  color: var(--color-accent-light);
  text-transform: uppercase;
  font-size: 200px;
  margin-bottom: 40px;
  opacity: 1;
  transform: translateY(50px);
  overflow: hidden;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.galleryGrid {
  justify-content: center;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.image {
  width: calc((100% - 32px) / 3);
  height: auto;
  aspect-ratio: 4 / 3;
  cursor: pointer;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.07);
}

:global(.PhotoView-Slider__Counter) {
  font-family: var(--font-aeonik-regular);
}

@keyframes cardIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 150px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 40px 20px 20px;
  }

  .title {
    margin-bottom: 20px;
  }

  .image {
    width: calc((100% - 16px) / 2);
  }

  .title {
    font-size: 120px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px 10px 10px;
  }

  .title {
    font-size: 80px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 40px;
  }
}
