.container {
    font-family: var(--font-aeonik-regular);
    color: var(--color-secondary);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.phone {
    display: flex;
    gap: 30px;
}

.adress {
    display: flex;
    gap: 30px;
}

.link {
    transition: color .3s ease-in-out;
    position: relative;
}

.link::after {
    content: "";
    background-color: var(--color-secondary);
    display: inline-block;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: width .3s ease-in-out, background-color .3s ease-in-out;
}

.link:hover {
    color: var(--color-accent)
}

.link:hover::after {
    background-color: var(--color-accent);
    width: 100%;
}

.map {
    width: 560px;
    height: 400px;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .container {
        font-size: 18px;
    }

    .map {
        width: 500px;
        height: 360px;
    }
}

@media (max-width: 800px) {
    .container {
        font-size: 14px;
    }

    .phone {
        gap: 18px;
    }
    
    .adress {
        gap: 18px;
    }

    .map {
        width: 500px;
        height: 360px;
    }
}

@media (max-width: 600px) {
    .container {
        font-size: 14px;
    }

    .map {
        width: 400px;
        height: 280px;
    }
}

@media (max-width: 400px) {
    .container {
        font-size: 12px;
    }

    .phone {
        gap: 8px;
    }
    
    .adress {
        gap: 8px;
    }

    .map {
        width: 280px;
        height: 360px;
    }
}